<div *ngIf="product">
  <h2>Edit {{ product.title }} Details</h2>
  <div>
    <label for="title">Product Title:</label>
    <input id="title" [(ngModel)]="product.title" placeholder="title" />
    <label for="description">Product Description:</label>
    <input id="description" [(ngModel)]="product.description" placeholder="description" />
    <label for="price">Product Price:</label>
    <input id="price" [(ngModel)]="product.price" placeholder="price" />
    <label for="tags">Product Tags:</label>
    <input id="tags" [(ngModel)]="product.tags" placeholder="tags" />
  </div>
</div>
