<div *ngIf="productForm" class="edit-product">
  <h2>Edit product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="edit-product__form">
    <mat-form-field appearance="outline">
      <mat-label>Product Title:</mat-label>
      <input matInput id="title" formControlName="title" placeholder="Title" />
      <mat-error *ngIf="productForm.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Description:</mat-label>
      <textarea
        matInput
        id="description"
        formControlName="description"
        placeholder="Description"
      ></textarea>
      <mat-error *ngIf="productForm.get('description')?.hasError('required')">Description is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price:</mat-label>
      <input matInput id="price" formControlName="price" placeholder="Price" />
      <span matTextPrefix>$&nbsp;</span>
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">Price is required</mat-error>
      <mat-error *ngIf="productForm.get('price')?.hasError('pattern')">Price should be numeric</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tags:</mat-label>
      <mat-select multiple id="tags" formControlName="tags">
        <mat-option *ngFor="let tag of availableTags" [value]="tag.id">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Changes</button>
    <a mat-raised-button color="accent" routerLink="/product-list" class="back-btn">Go Back</a>
  </form>
</div>
