<div>
    <button *ngFor="let tag of tags" (click)="filterByTag(tag.id)">
      {{ tag.name }}
    </button>
    <button (click)="clearFilter()">Clear filter</button>
    <a routerLink="/tag-list">Edit tags</a>
  </div>
<div>
  <ul class="products">
    <li *ngFor="let product of products">
      <div (click)="onSelect(product)">
        <p class="title"><span>Product Title:</span>{{ product.title }}</p>
        <p class="description"><span>Description:</span>{{ product.description }}</p>
        <p class="price"><span>Price:</span>{{ product.price }}</p>
      </div>
      <button (click)="deleteProduct(product.id)">Delete product</button>
    </li>
  </ul>
  <a routerLink="/new-product">Add new product</a>
</div>

