<div class="add-product">
  <h2>Add new product</h2>
  <form
    [formGroup]="addProductForm"
    (ngSubmit)="onSubmit()"
    class="add-product__form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Product Title:</mat-label>
      <input matInput id="title" formControlName="title" placeholder="title" />
      <mat-error *ngIf="addProductForm.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Description:</mat-label>
      <textarea
        matInput
        id="description"
        formControlName="description"
        placeholder="description"
      ></textarea>
      <mat-error *ngIf="addProductForm.get('description')?.hasError('required')">Description is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price:</mat-label>
      <input matInput id="price" formControlName="price" placeholder="Price" />
      <span matTextPrefix>$&nbsp;</span>
      <mat-error *ngIf="addProductForm.get('price')?.hasError('required')">Price is required</mat-error>
      <mat-error *ngIf="addProductForm.get('price')?.hasError('pattern')">Price should be numeric</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tags:</mat-label>
      <mat-select multiple id="tags" formControlName="tags">
        <mat-option *ngFor="let tag of availableTags" [value]="tag.id">{{
          tag.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add new product</button>
    <a mat-raised-button color="accent" routerLink="/product-list" class="back-btn">Go Back</a>
  </form>
</div>
